.nav2{
    height: 6rem;
}

#button{
  margin-top: 29px; 
  margin-left:3rem;
}

@font-face {
  font-family: 'Code-Codex2';
  src: url('code-codex2-recuperada.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h6{
   color:rgb(168, 176, 186);
   position:absolute;
   left:43rem;
   font-family: 'Code-Codex2';
   font-size: 42px;
   margin-top: 21px;
   font-weight: bold;
   font-synthesis: weight;

  
}


h7{
   color: white;
   position:absolute;
   left:94rem;
   font-family: "Merriweather", serif;
   font-size: 40px;
   margin-top: 13px;
  
}


.icono2{
    margin-top: 12px;
    position: absolute !important;
    left: 108rem;
    color: white;

}

h9{
    font-size: 40px;
    font-family: "Merriweather", serif;
}












#offcanvasExample{
    width: 18%;
}

.offcanvas-header{
    background-color: black;
}

.btn-close{
    background-color: gray;
}




.offcanvas-body{
 background-color:black;

}



.nav{
    background-color: black;
    width: 17rem;
    height: 103vh;
    padding:0;
    margin:0;
    z-index: 1000;
    padding:0;
    position:fixed;
    margin-top: -45px;
   
}




body{
    background-image: linear-gradient(rgba(0.8, 0.8, 0.8, 0.8), rgba(0.8, 0.8, 0.8, 0.8)),url(../imgs/git_hub_fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;
}




a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none ;
    color: white;
    padding: 27px 29px;
    font-size: 19px;
    display: inline-block;
    top:0;
    margin-bottom: 3rem;

}

a:hover{
    background-color:rgb(248, 216, 33);
    border-radius: 18px;
}


a:hover{
    background-color: rgb(208, 150, 235);
    border-radius: 18px;
}



h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:40px;
    margin-right: 38rem;
    margin-top: 16px;
    color: white;
}

.icono{
    margin-top: 12px;
    position: absolute !important;
    right: 2rem;
    color: white;
    position: absolute;
}





h1{
   font-family: "Merriweather", serif;
    margin-left:46rem;
    margin-top:45px;
    font-size: 45px;
    color:rgb(168, 176, 186);
  
    
}


.card{
    width: 49rem;
    margin-top: 34px;
    margin-left: 34rem;
    background-color:rgb(31, 31, 31);
    border-radius: 15px;
    font-size:22px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    
}



.imagen1{
    width: 13rem;
    margin-left: 52rem;
    margin-top:19px;
}


.etiqueta a {
    width: 11rem;
    margin-left: 53rem;
    margin-top: 2rem;
    font-size: 23px;
}


.parrafos{
    color:white;
    font-family:'Courier New', Courier, monospace;
     font-size: 24px;
    width: 84%;
    margin-left: 13rem;;
    margin-top: 5rem ;
    padding: 18px;
}


.imagen2{
    width: 93rem;
    margin-top:10rem;
    margin-left: 13rem;

}


.imagen3{
    width: 93rem;
    margin-top:10rem;
    margin-left: 14rem;

}

.imagen4{
    width: 93rem;
    margin-top:10rem;
    margin-left: 14rem;

}

.imagen5{
    width: 93rem;
    margin-top:10rem;
    margin-left: 14rem;

}



strong{
    color: green;
}



















footer{
    background-color: rgb(208, 150, 235);
    color: black;
    width: 100%;
    height: 13vh;

}

footer a:hover{
    background-color: transparent;
}

.descripcion{
    margin-top: 3rem;
    position: absolute;
    left: 34rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
}




.imagen6{
 width: 6rem;
 padding: 11px;
 position:absolute;
 left: 55rem;
 margin-top: -3px;

    
}


.imagen7{
 width: 6rem;
 padding: 11px;
 position:absolute;
 left: 62rem;
 margin-top: -2px;

    
}



.imagen8{
 width: 6rem;
 padding: 11px;
 position:absolute;
 left: 69rem;
 margin-top: 3px;


    
}



















