
.nav2{
    height: 6rem;
}

#button{
  margin-top: 29px; 
  margin-left:3rem;
}

@font-face {
  font-family: 'Code-Codex2';
  src: url('code-codex2-recuperada.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h6{
   color:rgb(23, 111, 212);
   position:absolute;
   left:33rem;
   font-family: 'Code-Codex2';
   font-size: 42px;
   margin-top: 22px;
   font-weight: bold;
   font-synthesis: weight;
  
}


h7{
   color: white;
   position:absolute;
   left:94rem;
   font-family: "Merriweather", serif;
   font-size: 40px;
   margin-top: 13px;
  
}


.icono2{
    margin-top: 12px;
    position: absolute !important;
    left: 108rem;
    color: white;

}

h9{
    font-size: 40px;
    font-family: "Merriweather", serif;
}












#offcanvasExample{
    width: 18%;
}

.offcanvas-header{
    background-color: black;
}

.btn-close{
    background-color: gray;
}




.offcanvas-body{
 background-color:black;

}







.nav{
    background-color: black;
    width: 17rem;
    height: 103vh;
    padding:0;
    margin:0;
    z-index: 1000;
    padding:0;
    position:fixed;
    margin-top: -45px;
   
}


body{
    background-image:linear-gradient(rgba(0.7, 0.7, 0.7, 0.7), rgba(0.7, 0.7, 0.7, 0.7)), url(../imgs/visual_fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none ;
    color: white;
    padding: 27px 29px;
    font-size: 19px;
    display: inline-block;
    top:0;
    margin-bottom: 3rem;

}

a:hover{
    background-color: rgb(36, 102, 223);
    border-radius: 18px;
}



h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:40px;
    margin-right: 38rem;
    margin-top: 16px;
    color: white;
}

.icono{
    margin-top: 12px;
    position: absolute !important;
    right: 2rem;
    color: white;
    position: absolute;
}




h1{
   font-family: "Merriweather", serif;
    margin-left:47rem;
    margin-top:45px;
    font-size: 45px;
    color:rgb(23, 111, 212);
    background: rgba(0, 0, 0, 0.45);
    text-shadow: 5rem 5rem 5rem black;
    
}


.card{
    width: 49rem;
    margin-top: 34px;
    margin-left: 34rem;
    background-color:rgb(31, 31, 31);
    border-radius: 15px;
    padding:18px;
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    
}


.imagen1{
    width: 13rem;
    margin-left: 52rem;
    margin-top:3rem;
}


.etiqueta a{
    width: 10rem;
    margin-left: 54rem;
    margin-top: 2rem;
    font-size: 23px;
}

.parrafo{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    width: 84%;
    margin-left: 11rem;
    margin-top: 3rem;
}

.imagen2{
    width: 93rem;
    margin-top:10rem;
    margin-left: 12.11rem;
}

.imagen3{
   width: 93rem;
   margin-top:10rem;
   margin-left: 12.11rem;  
}

.parrafo2{
   color: white;
  font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.45);
    width: 86%;
    margin-left: 9.55rem;
    margin-top: 3rem; 
}

.imagenes{
    margin-top:3rem;
    margin-right: 2rem;
}

.imagen4{
    width: 10rem;
    padding: 11px;
    

}


.imagen5{
    width: 10rem;
    padding: 11px;

}


.imagen6{
    width: 10rem;
    padding: 11px;

}

.imagen7{
    width: 10rem;
    padding: 11px;

}

.imagen8{
    width: 10rem;
    padding: 11px;

}

.imagen9{
   width: 93rem;
   margin-top:10rem;
   margin-left: 12rem;
}


footer{
    background-color: rgb(36, 102, 223);
    color: black;
    width: 100%;
    height: 13vh;

}

footer a:hover{
    background-color: transparent;
}

.descripcion{
    margin-top: 3rem;
    position: absolute;
    left: 34rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 23px;
}




.imagen10{
  width: 6rem;
 padding: 11px;
 position:absolute;
 left: 55rem;
 margin-top: -3px;
    
}


.imagen11{
 width: 6rem;
 padding: 11px;
 position:absolute;
 left: 62rem;
 margin-top: -2px;


    
}



.imagen12{
width: 6rem;
 padding: 11px;
 position:absolute;
 left: 69rem;
 margin-top: 3px;

    
}
















